In [ ]:
第一章python加法與註解使用

In [6]:
'''
這是註解1
這是註解2
'''
#這是註解
a=3
b=5
print(a+b)

8

x=1
y=10
x, y = y, x
print(x)
print(y)

In [3]:
x=1 
y=10 
x, y = y, x 
print(x) 
print(y)

10
1

In [4]:
x=1
y=10
x=x+y
y=x-y
x=x-y
print(x)
print(y)

10
1

In [5]:
x,y,z =3,4,5
print(x)
print(y)
print(z)

3
4
5

In [7]:
x,y,z=3,4,5
x+=1
y*=2
z**=3
print(x,y,z)

4 8 125

In [8]:
import math
a=math.sqrt(((3+4+5)/2)*((3+4+5)/2-3)*((3+4+5)/2-4)*((3+4+5)/2-5))
print(a)

6.0

In [9]:
import math
a,b,c=3,4,5
s=(a+b+c)/2
d=math.sqrt(s*(s-a)*(s-b)*(s-c))
print(d)

6.0

In [10]:
x='write'
print(type(x))
id(x)

<class 'str'>

2359025430744

In [11]:
x=254
print(type(x))
id(x)

<class 'int'>

140720781382384

In [12]:
#半徑為4.5高度為4.5的圓錐體面積為何
import math
print((4.5*4.5*math.pi*4.5)/3)

95.42587685278995

In [13]:
x=16
y=3
print(x/y)
print(x//y) #求商
print(x%y) #求餘數

5.333333333333333
5
1

In [14]:
#關西運算
x=10
print(20==20)
y=20
print(x==y)
print(x)

True
False
10

In [16]:
#級聯比較
a,b,c=10,20,30
print(a<=b<=c)

True

In [17]:
x=3.141592627
print(x-3.14) #比正確之值略小

0.0015926269999999576

In [18]:
y=2010
print(y%4==0 and y%100!=0 or y%400==0)
y=2012
print(y%4==0 and y%100!=0 or y%400==0)
y=2000
print(y%4==0 and y%100!=0 or y%400==0)

False
True
True

In [19]:
#型態轉換
x=12
y=float(x)+0.5
print(y)
print(int('123'))
print(float('123'))
x=10*3.25 #32.5
y=200*200 #40000
s='The value of x is '+str(x)+' and y is '+str(y)
s1='The value of x is '+repr(x)+' and y is '+repr(y)
print(s)
print(s1)

12.5
123
123.0
The value of x is 32.5and y is 40000
The value of x is 32.5and y is 40000

In [22]:
#非內痔模組
import math
print(math.pi)
print(math.pow(2,3))
print(8.3*10.58*math.sin(37.0/180*math.pi)/2)
print(math.sqrt(25))

3.141592653589793
8.0
26.423892221536985
5.0

In [24]:
#算園面積
import math
r=input("請輸入半徑:")
area=float(r)*float(r)*math.pi
print("園面積為:",area)

請輸入半徑:10
園面積為: 314.1592653589793

In [1]:
#python物件
list, tuple, dict, sets
list: [1.2.3]
tuple:(1, 2, 3) 不能改變其值
dict:{1:'apple', 2:'banana', 3:'orange'}
sets:{apple,banana,orange}

SyntaxError: invalid syntax (<ipython-input-1-b2a59dc2dc6c>, line 3)

In [2]:
#List串列
my_list0 =[1,2,3]
print(my_list0)
my_list1 = ['python','js','SQL']
print(my_list1[0])
my_list1.append('java')
print(my_list1)

[1, 2, 3]
python
['python', 'js', 'SQL', 'java']

In [3]:
my_list2=['c#','python','js','SQL','java']
#List長度
print(len(my_list2))
print(len(my_list2[1]))

5
6

In [4]:
#List刪除
my_list3=['c#','python','js','SQL','java']
my_list3.remove('js') #刪除某特定物件
print(my_list3)
del my_list3[0] #刪除某特定位置的物件
print(my_list3)
del my_list3[-1] #-1是指從最後數來第一個位置
print(my_list3)

['c#', 'python', 'SQL', 'java']
['python', 'SQL', 'java']
['python', 'SQL']

In [5]:
#檢查是否存在
print('java' in ['python','js','c#'])

False

In [6]:
#串列的重複
a=[1,2]
print(a*5)

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [9]:
#串列取值
a=[1,2,3,4,5,6,7,8,9]
b=a[0:3] #包含0，但不包含3
print(b)
c=a[0:9:2] #間隔取值，[開始:結束:間隔]
print(c)
del a[7:9]
print(a)
print(max(a)) #最大值
print(min(a)) #最小值
print(a.index(1)) #1出現的索引值
print(a.count(1)) #1出現的次數

[1, 2, 3]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7]
7
1
0
1

In [10]:
print(a)
a.reverse() #串列反轉
print(a)
a.sort() #串列排序
print(a)

[1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7]

In [11]:
a=[123,'abc',[111,222],[333,444]]
print(a[0])
print(a[1])
print(a[2])
print(a[2][1])

123
abc
[111, 222]
222

In [12]:
a=[111,222]+[333,444]+[555,666]
print(a)

[111, 222, 333, 444, 555, 666]

In [13]:
#串列list常用在for迴圈
shoplist =['milk','egg','coffee','watermelon']
for item in shoplist:
    print(item)

milk
egg
coffee
watermelon

#tuple(元組)tuple的元素不准新增、刪除或修改

In [1]:
a_list = ['python','js','c#']
a_tuple = ('python','js','c#')
b_tuple = tuple(a_list)
print(type(a_list))
print(type(a_tuple))
print(b_tuple)

<class 'list'>
<class 'tuple'>
('python', 'js', 'c#')

In [2]:
c_tuple =111,222,333 #c_tuple =(111,222,333)
print(c_tuple)
print(type(c_tuple))

(111, 222, 333)
<class 'tuple'>

dict(字典-dictionary) 帶有見值(key)的list

In [4]:
a_list = ['python','js','c#']
a_dict = {0:'python',1:'js',2:'c#'}
print(a_list[0])
print(a_dict[0])
b_dict={'1st':'python','2nd':'js','3rd':'c#'}
print(b_dict['1st'])

python
python
python