雲端載入

In [3]:
import pandas as pd

url = "https://storage.googleapis.com/2017_ithome_ironman/data/iris.csv"

iris_df = pd.read_csv(url)
iris_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
iris_df.mean()

Sepal.Length    5.843333
Sepal.Width     3.057333
Petal.Length    3.758000
Petal.Width     1.199333
dtype: float64

In [6]:
iris_df['Sepal.Length'].median()

5.8

本地端載入

In [8]:
import pandas as pd
iris_df = pd.read_csv('iris.csv')
iris_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
EXCEL檔案載入

In [9]:
import pandas as pd

url = "https://storage.googleapis.com/2017_ithome_ironman/data/iris.xlsx"

iris_df = pd.read_excel(url)
iris_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

chap 8

自訂函數

In [10]:
import math

def circle(radius):
    area = radius *radius *math.pi
    return area
print(circle(10))

314.1592653589793

In [11]:
import math

def circle(radius):
    area = radius *radius *math.pi
    return area
r = input("請輸入圓的半徑:")
print("圓面積為:", circle(float(r)))

請輸入圓的半徑:10
圓面積為: 314.1592653589793

example: exchange sort

In [12]:
import random

def exchange_sort(input_list):
    a = input_list
    for i in range(0, len(input_list)-1):
        for j in range(i+1, len(input_list)):
            if a[i] > a[j]:
                a[i], a[j] = a[j], a[i]
    return a
my_vector = random.sample(range(0,100), 10)
print(my_vector)
print(exchange_sort(my_vector))

[53, 29, 4, 11, 19, 67, 38, 99, 42, 83]
[4, 11, 19, 29, 38, 42, 53, 67, 83, 99]

In [13]:
import random

def exchange_sort(input_list):
    a = input_list
    for i in range(0, len(input_list)+1):
        for j in range(i+1, len(input_list)):
            if a[i] < a[j]:
                a[i], a[j] = a[j], a[i]
    return a
my_vector = random.sample(range(0,100), 10)
print(my_vector)
print(exchange_sort(my_vector))

[26, 41, 56, 62, 0, 22, 80, 9, 48, 85]
[85, 80, 62, 56, 48, 41, 26, 22, 9, 0]